{% extends "/View/Layouts/default.htm" %}
{% block content %}
    {% if appList|length > 0 %}
    <ul style="list-style: none">
        {% for item in appList %}
            <li>
                <a href="/deleteAppLogs/{{ item.package_name }}" style="color: red">X</a>&nbsp;
                <a href="/showLogs/{{ item.package_name }}">{{ item.package_name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No logs available</p>
    {% endif %}
{% endblock %}