{% if logs|length > 0 %}
<table>
    <thead>
        <tr>
            <td>-</td>
            <td>Package</td>
            <td>App version name</td>
            <td>User crash date</td>
            <td>Phone Model</td>
            <td>Build</td>
            <td>Product</td>
            <td>Brand</td>
            <td>Settings Secure</td>
            <td>Shared Preferences</td>
            <td>Is Silent</td>
            <td>App version code</td>
            <td>Crash configuration</td>
            <td>Dumpsys meminfo</td>
            <td>Stack trace</td>
            <td>Display</td>
            <td>Logcat</td>
            <td>Available memory size</td>
            <td>Total memory size</td>
            <td>Initial configuration</td>
            <td>Environment</td>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
            <tr>
                <td><a href="/deleteLog/{{ log.id }}" style="color: red">X</a></td>
                <td>{{ log.package_name }}</td>
                <td>{{ log.app_version_name }}</td>
                <td>{{ log.user_crash_date|date("Y-m-d H:m:s") }}qqq</td>
                <td>{{ log.phone_model }}</td>
                <td>{{ log.build|nl2br }}</td>
                <td>{{ log.product }}</td>
                <td>{{ log.brand }}</td>
                <td>{{ log.settings_secure|nl2br }}</td>
                <td>{{ log.shared_preferences }}</td>
                <td>{{ log.is_silent }}</td>
                <td>{{ log.app_version_code }}</td>
                <td>{{ log.crash_configuration|nl2br }}</td>
                <td>{{ log.dumpsys_meminfo|nl2br }}</td>
                <td>{{ log.stack_trace }}</td>
                <td>{{ log.display|nl2br }}</td>
                <td>{{ log.logcat }}</td>
                <td>{{ log.available_mem_size }}</td>
                <td>{{ log.total_mem_size }}</td>
                <td>{{ log.initial_configuration|nl2br }}</td>
                <td>{{ log.environment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No logs available</p>
{% endif %}