<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{ view.Html.charset() }}
    
    <title>{{ title_for_layout }}</title>

    {{ Html.meta('icon') }}
    {{ Html.css('cake.generic') }}
    {{ Html.script('http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js') }}

    <link rel="stylesheet" type="text/css" href="/js/jquery/plugins/jgrowl/message_types.css" />
    <link rel="stylesheet" type="text/css" href="/js/jquery/plugins/jgrowl/jquery.jgrowl.css" />
    <script type="text/javascript" src="/js/jquery/plugins/jgrowl/jquery.jgrowl_minimized.js" ></script>

    {{ scripts_for_layout }}
</head>
<body>
    {{ jGrowl.flash() }}
    {{ content_for_layout }}
{% block content %}{% endblock %}
</body>
</html>